.default-block{
    margin: 40px 10px 40px 40px;
}
.customer-list {
    height: 600px;
    overflow: auto;
}
.customer-element {
    display: block;
    margin-bottom: 10px;
}

.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}