<div class="col-lg-4 ">
    <div class="default-block">
        <button class="btn btn-success" ng-click="customerList.add()"> Add new customer</button>
    </div>
    <div class="default-block customer-list">
        <div ng-repeat="customer in customers track by $index"
             ng-bind="customer.email"
             ng-class="customer.isSelected ? 'btn btn-default customer-element active' : 'btn btn-default customer-element'"
             ng-click="customer.select()">
            <p>

            </p>
        </div>
    </div>
</div>
<div ui-view="sub-view"></div>