<div class="col-lg-4 default-block container-fluid"
        ng-show="clonedCustomer">
    <form name="customer_form" novalidate ng-submit="">
        <fieldset>
            <legend>Customer Information</legend>
            <div ng-class="(customer_form.{{formArgs[$index].name}}.$invalid && customer_form.{{formArgs[$index].name}}.$dirty) ? 'form-group has-error has-feedback' : 'form-group has-feedback'"
                 ng-repeat="prop in customerArgs track by $index">
                <div class="form-block col-lg-12 row">
                    <label for="#form-{{formArgs[$index].name}}"
                            ng-bind="formArgs[$index].name + ':'"
                            class="control-label"></label>
                    <input
                            ng-model="clonedCustomer[prop]"
                            name="{{formArgs[$index].name}}"
                            id="form-{{formArgs[$index].name}}"
                            class="form-control "
                            required/>
                    <span ng-show="customer_form.{{formArgs[$index].name}}.$invalid && customer_form.{{formArgs[$index].name}}.$dirty"
                          class="glyphicon glyphicon-remove form-control-feedback align-left"></span>
                </div>
                    <div class=" form-block error align-center col-lg-11 "
                         ng-show="customer_form.{{formArgs[$index].name}}.$invalid && customer_form.{{formArgs[$index].name}}.$dirty">
                        <span class="label label-danger"
                              ng-show="customer_form.{{formArgs[$index].name}}.$error.required"
                                ng-bind="formArgs[$index].requiredMessage">
                        </span>
                    </div>
            </div>
            <legend></legend>

            <button ng-disabled="customer_form.$invalid" class="btn btn-success"
                    ng-click="customer ? customer.save(clonedCustomer) : customerList.add(clonedCustomer)"
                    ng-bind="customer ? 'Save' : 'Add'">
            </button>
            <button class="btn btn-danger"
                    ng-click="customer ?customerList.remove(customer) : cancel()"
                    ng-bind="customer ? 'Remove' : 'Cancel'"></button>

        </fieldset>
    </form>
</div>